body{
    background-image: linear-gradient(to bottom right, purple, orange);
}
.nl li{
    display: inline;
}
.sportsgrid{
    --gap: 16px;
    --num-cols: 4; 
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);
}