body {
    background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
    animation: fadeIn 3s;
  }

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
    padding-top: 6%;
    padding-bottom: 2%;
    margin: 0px;
    color: #3663A1;
    text-shadow: 0px 9px 22px rgba(110, 136, 161, 0.5);
}

iframe {
    display: block;
    margin: 0 auto;
}

img {
    transition: box-shadow .3s;
    position:relative;
    max-width: 30%;
    border: 11px solid #EFEDE3;
    margin: 4%;
    box-shadow: 0px 5px 13px rgba(59, 62, 67, 0.6)
}

h1:hover {
    font-size: 50px;
    -webkit-transition:2s;
    transition-timing-function: ease;
    transition-delay: .2s;
}

img:hover {
    box-shadow: 0px 16px 22px rgba(59, 62, 67, 0.6);
      }


.color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    }

.color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: .8s ease;
    }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 405,
  'GRAD' 0,
  'opsz' 48;
}
.material-icons.md-48 {
    font-size: 48px;
}

.bookmarks {
    text-align: center;
    margin: 0 auto;
}
.links {
    padding: 2%;
    margin: 0px;
    color: #3663A1;
    text-decoration:none;
}

.links:hover {
    color:rgb(51, 139, 147);

}

.row-1 {
    text-align: center;
    padding-bottom: 1%;
}

.row {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.row-5 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bio {
    color: rgb(110, 136, 161);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: 'Courier New', Courier, monospace;
}

.author {
    color: rgb(221, 221, 221);
    text-align: center;
    padding-bottom: 6%;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }